
/*css reset*/

*{
  margin: 0;
}

/*stili all'header*/

header {
  background-image: url('../img/pattern.png');
  background-color: cornflowerblue;
  height: 175px;
}



header img {
  height: 50px;
  padding-top: 100px;
}



header p  {
  color: gray;
}



h1{
  padding-top: 40px;
}



a{
  text-decoration: none;
  color: lightskyblue;
}
/*/stili all'header*/


/*paragrafi, lista e immagini*/

main img{
  padding-top: 100px;
}



#evidenziato{
  background:#FFFF00;
}



.paragrafo{
  padding-top: 10px;
}


ul{
  padding-top: 10px;
}

/*/paragrafi, lista e immagini*/
