
/*css reset*/

*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

/*stili all'header*/

header {
  background-image: url('../img/pattern.png');
  background-color: cornflowerblue;
  height: 175px;
}



header img {
  height: 50px;
  padding-top: 100px;
}



header p  {
  color: gray;
}



h1{
  padding-top: 40px;
}



a{
  text-decoration: none;
  color: lightskyblue;
}
/*/stili all'header*/


/*paragrafi, lista e immagini*/

main img{
  padding-top: 100px;
}



#evidenziato{
  background:#FFFF00;
}



.paragrafo{
  padding-top: 20px;
}


ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

/*/paragrafi, lista e immagini*/



/*tabella*/

table{
  border-spacing: 0px;
}


th{
  color: white;
  background-color: deepskyblue;
  text-align: center;
}

tr{
  text-align: left;
}

.color-tabel{
  background-color: cyan;
}
/*/tabella*/



/*immagini finali con titolo*/

h3{
  color: gray;
  padding-top: 30px;
  padding-bottom: 15px;
}


.paragrafo-footer,.paragrafo-footer2{
  width: 250px;
  height: 200px;
  font-size: 20px;
  color: white;
  padding-top: 10px;
}


.paragrafo-footer{
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
  padding-bottom: 10px;
}


.paragrafo-footer2{
  background-image: url(../img/graph.jpg);
}